[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Tran Anh Tai (taikt)
[access "refs/for/refs/*"]
	read = group user/Tran Anh Tai (taikt)
	push = group user/Tran Anh Tai (taikt)
	label-Code-Review = -2..+2 group user/Tran Anh Tai (taikt)
	label-Verified = -1..+1 group user/Tran Anh Tai (taikt)
	rebase = group user/Tran Anh Tai (taikt)
	removeReviewer = group user/Tran Anh Tai (taikt)
	submit = group user/Tran Anh Tai (taikt)
[access "refs/heads/*"]
	read = group user/Tran Anh Tai (taikt)
	create = group user/Tran Anh Tai (taikt)
	push = +force group user/Tran Anh Tai (taikt)
	pushMerge = group user/Tran Anh Tai (taikt)
[access "refs/tags/*"]
	push = group user/Tran Anh Tai (taikt)
	push = +force group user/Tran Anh Tai (taikt)
